<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="">
    <meta name="generator" content="not-gitbook">
    <meta name="author" content="{{author}}">
    <link rel="stylesheet" href="assets/styles/gitbook/style.css">
    <link rel="stylesheet" href="styles/website.css">
    {% for f in plugin_css_assets %}
        <link rel="stylesheet" href="styles/{{f}}.css">
    {% endfor %}
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="next" href="{{next}}" />
    <link rel="canonical" href="{{canonical}}">
</head>

<body>
        <h1>
            {{title}}
        </h1>
        {{content}}
</body>
</html>